.select2-selection__choice{
    background-color: #000000 !important;
}
.create-img-preview{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-left: 50px;
}
.main-header{
    position: fixed;
    left: 0;
    right: 0;
}
.above-content-wrapper{
    height: 50px;
}

.validation-comicwork{
    margin-top: 5px;
    padding: 3px 5px;
}

